.mapModal {
    z-index: 222;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &__window {
        position: relative;
        width: 800px;
        height: 400px;
        background-color: #984b46;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_close{
            position: absolute;
            top: 5px;
            right: 7px;
            cursor: pointer;
        }
        &_infoBlock{
            height: 330px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-shedule{
                display: flex;
                width: 220px;
                justify-content: space-between;
            }
            &-adress{
                color:  #fff;
                font-family: PTSans-Bold;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            &-describe{
                color: #fff;
                font-family: PTSans-Bold;
                font-size: 26px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}
.shedule{
    &__days{
        color: #fff;
        font-family: PTSans-Regular;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__times{
        color: #fff;
        font-family: PTSans-Regular;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}