.holidays {
    &__title {
        text-align: center;
        color: rgb(75, 72, 72);
        font-size: 35px;
        font-weight: 500;
    }
    &__item {
        height: 300px;
        perspective: 1000px;
        position: relative;
        margin: 1px;
        list-style: none;
        cursor: pointer;
        &:nth-child(1) {
            grid-column: 2/6;
            .holidays__item_front {
                background-image: url('../../resources/img/holidays/holidays1.jpg');
            }
        }
        &:nth-child(2) {
            grid-column: 6/8;
            .holidays__item_front {
                background: url('../../resources/img/holidays/holidays2.jpg') no-repeat 50%/cover;
            }
        }
        &:nth-child(3) {
            grid-column: 2/5;
            .holidays__item_front {
                background: url('../../resources/img/holidays/holidays3.jpg') no-repeat 50%/cover;
            }
        }
        &:nth-child(4) {
            grid-column: 5/8;
            .holidays__item_front {
                background: url('../../resources/img/holidays/holidays4.jpg') no-repeat 50%/cover;
            }
        }
        &-card {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.8s;
            cursor: pointer;
            &:hover {
                transform: rotateY(180deg);
            }
        }
        &-card &_front,
        &-card &_back {
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          backface-visibility: hidden;
          border: 1px solid #ccc;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        &-card &_front {
            text-align: center;
            color: #ffffff;
            font-size: 23px;
            font-weight: 600;
        }
        &-card &_back {
            background-color: #e5e7c3;
            transform: rotateY(180deg);
            padding: 20px;
            text-align: center;
            font-size: 17px;
        }
    }
    &-wrapper {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
        grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
    }
}