@import '../../style/variables';

.menu {
    position: fixed;
    visibility: hidden;
    height: 100vh;
    z-index: 20;
    width: 100vw;
    transition: right .3s;
    right: -100%;
    &__overlay {
        visibility: hidden;
    }
    &__close {
        position: absolute;
        top: 5px;
        left: 10px;
        cursor: pointer;
    }
    &__overlay {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 19;
    }
    &__wrapper {
        position: absolute;
        right: 0;
        background-color: $color_header;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    &__logo{
        width: 75px;
        height: 75px;
        &_linkWrapper {
            align-self: center;
        }
        }
    &__nav {
        list-style-type: none;
        padding-right: 50px;
        align-self: center;
        &-item {
            margin-top: 30px;
        }
        &-ref {
            font-family: PTSans-Regular;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase
        };
    }
}
//active states

// .active {
    
// }
.menuIsOpen{
    right: 0;
    visibility: visible;
}
.menu__overlay_active{
    visibility: visible;
}