@media (max-width: 400px) {
    .slider {
        &__photo {
            height: 100%;
            width: 100vw;
        }
        &__descr {
            font-size: 14px;
            bottom:10px;
        }
    }
    .swiper {
        &-slide {
            height: 300px;
            // width: 100%;
        }
    }
}