.slider {
    // background: linear-gradient(180deg, rgb(210, 195, 151) 6%, rgb(93, 186, 189) 98%);
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 35px;
        color: rgb(75, 72, 72);
        margin-top: 0;
    }
    &__photo {
        transition: all 0.8s;
        object-fit: cover;
        width: 400px;
        height: 400px;
        overflow: hidden;
        -webkit-filter: brightness(0.65);
        filter: brightness(0.65);
        &:hover {
            scale: 1.05;
            -webkit-filter: brightness(0.95);
            filter: brightness(0.95);
        }
    }
    &__descr {
        position: absolute;
        overflow: hidden;
        padding: 0.5em 0;
        opacity: 1;
        bottom: 20px;
        left: 20px;
        color: white;
        text-decoration: none;
        font-size: 19px;
        &::after {
            opacity: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: #fff;
            content: '';
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
            -webkit-transition: 2s ease;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }
    }
}
.swiper-slide {
    padding: 0 10px;
    flex-shrink: 1;
    &:hover .slider__descr {
        transition: all 0.6s;
        opacity: 1;
    }
    &:hover .slider__descr::after {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

