@media (max-width: 1200px) {
    .mySwiper {
        width: 950px;
    }
}

@media (max-width: 992px) {
    .mySwiper {
        width: 740px;
        height: 450px;
    }
    .slider {
        &__descr {
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) and (min-width: 630px) {
    .mySwiper {
        width: 620px;
        height: 300px;
    }
    .slider {
        &__descr {
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) {
    .swiper-pagination {
        display: none;
    }
}

@media (max-width: 630px) and (min-width: 576px) {
    .mySwiper {
        width: 550px;
        height: 300px;
    }
}

@media (max-width: 576px) and (min-width: 430px) {
    .mySwiper {
        width: 420px;
        height: 300px;
    }
    .slider {
        &__descr {
            font-size: 10px;
        }
    }
}

@media (max-width: 430px) {
    .mySwiper {
        width: 350px;
        height: 200px;
    }
    .slider {
        &__descr {
            font-size: 10px;
        }
    }
}