@media (max-width: 1200px) {
    .mySwiper {
        width: 950px;
    }
}

@media (max-width: 992px) {
    .mySwiper {
        width: 740px;
        // height: 450px;
    }
    .slider {
        &__descr {
            font-size: 17px;
        }
    }
}

@media (max-width: 768px) and (min-width: 630px) {
    .mySwiper {
        width: 490px;
        // height: 360px;
    }
    .slider {
        &__descr {
            font-size: 18px;
        }
    }
}

@media (max-width: 630px) and (min-width: 576px) {
    .mySwiper {
        width: 550px;
        // height: 300px;
    }
    figure.slider-wrapper img {
        height: 370px;
    }
}

@media (max-width: 576px) and (min-width: 430px) {
    .mySwiper {
        width: 420px;
        // height: 730px;
    }
    .slider {
        &__descr {
            font-size: 17px;
        }
    }
    figure.slider-wrapper img {
        height: 370px;
    }
}

@media (max-width: 430px) {
    .mySwiper {
        width: 350px;
    }
    figure.slider-wrapper img {
        height: 370px;
    }
}