@media (max-width: 672px) {
    .vacancyCard {
        height: 170px;
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            &_descr {
                display: none;
            }
            &_title {
                font-size: 25px;
                margin-bottom: 10px;
            }
            &_top {
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 602px) {
    .vacancyCard {
        &__info {
            &_title {
                font-size: 23px;
                margin-bottom: 10px;
            }
            &_salary {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 383px) {
    .vacancyCard {
        &__info {
            &_title {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &_salary {
                font-size: 15px;
            }
            &_buttons {
                &-call {
                    font-size: 14px;
                }
                &-infoPage {
                    font-size: 14px;
                }
            }
        }
    }
}