.vacancyCard {
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    &__info {
        &_top {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            justify-content: space-between;
        }
        &_title {
            font-size: 20px;
            color: #292929;
            font-family: Montserrat;
            font-weight: 600;
        }
        &_salary{
            font-size: 20px;
            color: #292929;
            font-family: Montserrat;
            font-weight: 600;
        }
        &_descr {
            font-family: PTSans-Regular;
            font-size: 18px;
            font-weight: 500;
            width: 80%;
            margin-bottom: 20px;
            color: rgba($color: #000000, $alpha: 0.6);
        }
        &_buttons {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            &-call {
                font-family: PTSans-Regular;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                width: 100px;
                height: 30px;
                border-radius: 10px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 3px;
                border: 1px solid #41BFBF;
                color: #41BFBF;
                cursor: pointer;
                &:hover {
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    background-color: #41BFBF;
                }

            }
            &-infoPage {
                font-family: PTSans-Regular;
                font-size: 16px;
                text-decoration: none;
                font-weight: 500;
                padding-bottom: 3px;
                width: 100px;
                height: 30px;
                border: 1px solid #41BFBF;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #41BFBF;
                cursor: pointer;
                &:hover {
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    background-color: #41BFBF;
                }
            }
        }
    }
}