.catalog {
    background-color: #F7F7F7;
    padding: 40px 0 80px 0;
    &__title {
        color: #292929;
        text-align: center;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__filter {
        &-wrapper {
            display: flex;
            margin-top: 40px;
        }
        &_item {
            cursor: pointer;
            padding: 10px 10px;
            border-radius: 20px;
            background-color: #F7EBE5;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-family: Montserrat;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: rgba(41, 41, 41, 0.83);
            }
        }
        
    }
    &__products {
        &-wrapper{
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            justify-content: space-around;
        }
        &_item {
            margin-bottom: 40px;

        }
    }
    &__btn {
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 295px;
        height: 50px;
        background-color: #F7F7F7;
        border: 1px solid #4E9DD3;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color:  #78b5de;
            color: #fff;
        }
    }
}