.basketModal{
    z-index: 222;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &__window{
        width: 400px;
        height: 250px;
        background-color: #984b46;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &_title{
            margin-top: -10px;
            color:  #fff;
            font-family: PTSans-Bold;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }
        &_linkBtn{
            width: 200px;
            height: 50px;
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: PTSans-Bold;
            color: #fff;
            border-radius: 5px;
            font-size: 15px;
            &:hover {
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
    &__closeModal{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}