.single{
    background-color: #F7F7F7;
    margin: 0 auto;
    padding: 30px;
    &-product {
        display: grid;
        grid-template-columns: 570px 570px;
        gap: 20px;
        color: rgb(131, 131, 131);
        text-align: left;
        padding: 20px 20px;
        justify-content: center;
        grid-template-areas: 'a b' 'a c';
        &__image {
            width: 100%;
            object-fit: cover;
            grid-area: a;
            height: 500px;
        }
    }
    &-info {
        grid-area: b;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        &-wrapper {
            background-color: #fff;
            border: 1px solid #e9e9e9;
            padding: 20px;
            border-radius: 5px;
        }
        &__title {
            text-align: left;
            font-size: 25px;
            color: rgb(0, 0, 0);
            // text-align: center;
            margin-top: 0;
        }
        h3 {
            font-size: 22px;
            color: rgb(0, 0, 0);
        }
        &__nutritional, &__expiration, &__weight, &__proteins, &__composition {
            // display: flex;
            // flex-wrap: nowrap;
            // justify-content: start;
            font-size: 18px;
            margin-top: 10px;
        }
        span {
            text-align: right;
            font-size: 18px;
            color: rgb(8, 5, 5);
        }
        &_price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            margin-top: 10px;
            border: 1px solid #e9e9e9;
            background-color: rgb(255, 255, 255);
            padding: 0 20px;
            grid-area: c;
            &_value {
                font-size: 23px;
                font-weight: 600;
                color: #E7426A;
            }
        }
        &__add {
            display: flex;
            flex-wrap: nowrap;
            align-items:center;
            height: 50px;
            background-color: #E7426A;
            color: white;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            &_icon {
                width: 18px;
                margin-right: 10px;
            }
        }
    }
}

.tab {
    padding: 25px;
    background: #ffffff;
    border: 1px solid #EDEDF0;
    border-radius: 5px;
    &-titles {
        display: flex;
        justify-content:start;
        flex-direction: row;
        list-style: none;
        padding: 0 0 0 1em;
        margin: 0 0 1.618em;
        overflow: hidden;
        position: relative;
    }
    &__link {
        position: relative;
        text-decoration: none;
        list-style:  none;
        background-color: #f8f7f7;
        cursor: pointer;
    }
}
.tab__link::before{
    content: '';
    width: 0;
    height: 5px;
    background-color: #5e2a34;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s ease-in-out;
  }
  
  .tab__link.active-link::after{
    width: 100%;
  }

  .tab_contents{
    display: none;
  }
  
  .tab_contents.active_tab{
    display:block;
  }


  

.tab-header {
    display: flex;
    border-bottom: 1px solid #d6d6d6c7;
    padding: 0;
    gap: 30px;
}
  
.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    list-style: none;
    // display: flex;
    // align-items: center;
}
  
.tab-item__active {
    border-bottom: 4px solid #E7426A;//#e2dbaf;
}
  
.tab-content {
    padding: 20px;
    transition: 0.6s;
}
.tab-content_mobile {
    display: none;
}

.arror-down {
    display: none;
}