.single{
    background-color: #F7F7F7;
    margin: 0 auto;
    padding: 30px;
    &-product {
        display: grid;
        grid-template-columns: 570px 570px;
        gap: 20px;
        color: rgb(131, 131, 131);
        text-align: left;
        padding: 20px 20px;
        justify-content: center;
        grid-template-areas: 'a b' 'a c';
        &__image {
            width: 100%;
            object-fit: cover;
            grid-area: a;
            height: 500px;
        }
    }
    &-info {
        grid-area: b;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        &-wrapper {
            background-color: #fff;
            border: 1px solid #e9e9e9;
            padding: 20px;
            border-radius: 5px;
        }
        &__title {
            text-align: left;
            font-size: 25px;
            color: rgb(0, 0, 0);
            // text-align: center;
            margin-top: 0;
        }
        h3 {
            font-size: 22px;
            color: rgb(0, 0, 0);
        }
        &__nutritional, &__expiration, &__weight, &__proteins, &__composition {
            // display: flex;
            // flex-wrap: nowrap;
            // justify-content: start;
            font-size: 18px;
            margin-top: 10px;
        }
        span {
            text-align: right;
            font-size: 18px;
            color: rgb(8, 5, 5);
        }
        &_price {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            margin-top: 10px;
            border: 1px solid #e9e9e9;
            background-color: rgb(255, 255, 255);
            padding: 0 20px;
            grid-area: c;
            &_value {
                font-size: 23px;
                font-weight: 600;
                color: #E7426A;
            }
            &__warning {
                display: none;
                position: absolute;
                top: 0;
                left: 0px;
                padding: 0 10px;
                // display: flex;
                // justify-content: space-between;
                align-items: center;
                background-color: #fde3e3;
                width: 100%;
                color: white;
                transition: all 0.9s;
                img {
                    width: 32px;
                    margin-right: 20px;
                }
            }
            &:hover &__warning {
                display: flex;
                transform: translateY(-32px);
                transition: all 0.9s;
            }
        }
        &__add {
            display: flex;
            flex-wrap: nowrap;
            align-items:center;
            height: 50px;
            background-color: #E7426A;
            color: white;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            z-index: 0;
            border: none;
            outline: none;
            position: relative;
            &::before {
                content: '';
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left:-2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                border-radius: 10px;
            }
            &:after {
                z-index: -1;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #E7426A;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
            &:active:after {
                background: transparent;
            }
            &:hover:before {
                opacity: 1;
            }
            &_icon {
                width: 18px;
                margin-right: 10px;
            }
        }
    }
}

.tab {
    padding: 25px;
    background: #ffffff;
    border: 1px solid #EDEDF0;
    border-radius: 5px;
    &-header {
        display: flex;
        border-bottom: 1px solid #d6d6d6c7;
        padding: 0;
        gap: 30px;
    }
    &-titles {
        display: flex;
        justify-content:start;
        flex-direction: row;
        list-style: none;
        padding: 0 0 0 1em;
        margin: 0 0 1.618em;
        overflow: hidden;
        position: relative;
    }
    &-item {
        padding: 10px 20px;
        cursor: pointer;
        list-style: none;
        // display: flex;
        // align-items: center;
        &__active {
            border-bottom: 4px solid #E7426A;//#e2dbaf;
        }
    }
    &__link {
        position: relative;
        text-decoration: none;
        list-style:  none;
        background-color: #f8f7f7;
        cursor: pointer;
        &::before{
            content: '';
            width: 0;
            height: 5px;
            background-color: #5e2a34;
            position: absolute;
            left:0;
            bottom: -8px;
            transition: 0.5s ease-in-out;
        }
    }
    &-content {
        padding: 20px;
        transition: 0.6s;
        &_mobile {
            display: none;
        }
    }
}
.arror-down {
    display: none;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}