@import '../../../style/variables.scss';

.basketPage {
    background-color: #F7F7F7;
    padding: 35px 0px 50px 0px;
    &__title {
        color: #292929 ;
        text-align: center;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    &__describe {
        color: #292929;
        text-align: center;
        font-family: PTSans-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 25px;
        opacity: 0.7;
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__connectInstructions {
        font-family: PTSans-Regular;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
        span  {
            color: #7360F2;
        }
        &_btns {
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            margin: 0 auto;
            &-modal {
                max-width: 330px;
            }
        }
        &_btn {
            width: 190px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $main-color;
            border-radius: 3px;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            &-viber {
                background-color: #7360F2;
            }
            &-modal {
                width: 150px;
            }
        }
    }
    &__mainContent {
        &_warning {
            width: 100%;
            height: 35px;
            display: flex;
            border:1px solid rgba(246,86,86, 0.5);
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: rgba(246,86,86, 0.3);
            color: #FFFFFF;
            span {
                text-transform: uppercase;
            }
        }
        &_makeOrder {
            max-width: 660px;
            margin: 0 auto;
            padding:  0 10px;
        }
        &_itemsList{
            width: 670px;
            border: 1px solid #EDEDF0;
            border-bottom: none;
            border-radius: 5px;
            overflow: hidden;
            &-empty {
                width: 100%;
                height: 600px;
                border: 1px solid   #EDEDF0;
                color: rgba(0, 0, 0, 0.7);
                font-family: PTSans-Regular;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                position: relative;
                img{
                    position: absolute;
                    opacity: 0.4;
                    width: 450px;
                    height: 470px;
                    top: 10px;
                }  
            }
        }
        &_orderSum {
            width: 100%;
            height: 60px;
            border-bottom:1px solid #EDEDF0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-title {
                color: #292929;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                font-family: PTSans-Regular;
            }
            &-price {
                color: #000000;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
            }
        }
    }
    &__btn {
        display: block;
        width: 250px;
        height: 50px;
        background-color: $main-color;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        &_mainContent {
            margin: 0 auto;
            margin-top: 30px;
        }
        &_empty {
            position: absolute;
            bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: 1px solid $main-color;
            color: #000;
            background-color: #fff;
            width: 200px;
            &:focus {
                background-color: rgba($color: $main-color, $alpha: .3);
                color: #000;
            }
        }
        &:active {
            opacity: 0.8;
        }
        &-wrapper{
            padding: 30px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_onlyCalls {
                display: block;
                width: 100%;
            }
        }
    }
    &__infoWindow{
        width: 470px;
        height: 100%;
        border: 1px solid #EDEDF0;
        border-radius: 5px;
        background-color: #fff;
        position: sticky;
        top: 10px;
        &-top {
            border-bottom: 1px solid #EDEDF0;
            padding: 30px 20px;
        }
        &_title {
            color: #292929;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &_fullPrice {
            display: flex;
            margin-top: 10px;
            position: relative;
            justify-content: space-between;
            &-divider {
                width: 100%;
                border-bottom: 1px solid #EDEDF0;
                position: absolute;
                top: 16px;
                z-index: 1;
            }
            &-tag {
                z-index: 2;
                background-color: #fff;
                width: 132px;
                color: #292929;
                font-family: PTSans-Regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                opacity: 0.8;
            }
            &-price {
                align-self: flex-end;
                z-index: 2;
                background-color: #fff;
                min-width: 30px;
                color: #292929;
                font-family: PTSans-Regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                opacity: 0.8;
            }
        }
        &-bottom {
            padding: 20px 20px;
            border-bottom: 1px solid #EDEDF0;
            display: flex;
            justify-content: space-between;
        }
        &_forPay{
            color: #292929;
            font-family: PTSans-Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.8;
        }
        &_sum {
            color: #292929;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
            
        }
    
    &__form{
        &-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &_field {
            &-comment {
                div{
                    color: #292929;
                    font-family: PTSans-Regular;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 5px;
                }
                textarea {
                    resize: none;
                    width: 100%;
                    height: 100px;
                    font-family: PTSans-Regular;
                    padding: 15px;
                    background-color: #fff;
                    border: 1px solid #EDEDF0;
                    border-radius: 5px;
                    outline: none;
                }
            }
            div {
                color: #292929;
                font-family: PTSans-Regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 5px;
            }
            input {
                font-family: PTSans-Regular;
                padding-left: 15px;
                width: 316px;
                height: 50px;
                background-color: #fff;
                border: 1px solid #EDEDF0;
                border-radius: 5px;
                outline: none;
                &::-webkit-inner-spin-button,
                ::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                }
            }
        }
    }
    &__privacyPolicy {
        color: #000;
        font-family: PTSans-Regular;
        font-size: 15px;
        font-weight: 500;
        margin-top: 18px;
        &_link {
            color: #4E9DD3;
            text-decoration: none;
            border-bottom: 1px solid #4E9DD3 ;
        }
    }
}