@import '../../../style/variables.scss';

.vacancyInfo {
    background-color: #F7F7F7;
    padding: 40px 0 80px 0;
    &__card {
        width: 80%;
        margin: 0 auto;
        min-height: 300px;
        background-color: #FFFFFF;
        padding: 30px;
        margin-bottom: 50px;
    }
    &__title {
        color: #292929;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__salary {
        color: #292929;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__descr {
        font-family: PTSans-Regular;
        font-size: 18px;
        font-weight: 500;
        width: 90%;
        margin-bottom: 20px;
        color: rgba($color: #000000, $alpha: 0.6);
    }
    &__call {
        width: 200px;
        height: 50px;
        font-family: PTSans-Regular;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
        background-color: $main-color;
        color: #FFFFFF;
    }
    &__blocks {
        width: 80%;
        margin: 0 auto;
    }
    &__block{
        margin-bottom: 30px;
        &_title {
            color: #000000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
        }
        &_list {
            margin-top: 10px;
            list-style-type: none;
            padding: 0;
            li {
                color: #000000;
                position: relative;
                font-family: PTSans-Regular;
                font-size: 18px;
                font-weight: 400;
                margin-left: 40px;
                margin-bottom: 5px;
                &::before {
                    content: '';
                    width: 20px;
                    height: 1px;
                    border-radius: 100%;
                    background-color: $main-color;
                    position: absolute;
                    left: -25px;
                    top: 12px;
                }
            }
        }
    }
    &__contacts {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        &_title {
            color: #000000;
            margin-bottom: 20px;
            font-family: Montserrat;
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        &_block {
            position: relative;
            margin-bottom: 10px;
            div {
                color: #000000;
                font-family: PTSans-Regular;
                font-size: 17px;
                font-weight: 500;
                margin-left: 30px;
            }
            img {
                position: absolute;
                bottom: 1px;
            }
        }
    }
}