@import '../../style/variables';

.header {
    &__divider{
        background: $color_header;
        padding: 12px 15px 15px 15px;
    }
    &__top {
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_tag {
            color: rgba(0, 0, 0, 0.88);
            font-family: PTSans-Regular;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            cursor: pointer;

        }
        &_cityIcon{
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
        &_phoneIcon{
            width: 23px;
            height: 23px;
            cursor: pointer;
        }
        &_burgerIcon {
            display: none;
        }
        &_basketIcon{
            width: 26px;
            height: 26px;
            margin-right: 5px;
            position: relative;
            cursor: pointer;
            &-counter {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 14px;
                height: 14px;
                padding: 3px;
                background-color: black;
                color: #ffffff;
                position: absolute;
                z-index: 1;
                font-size: 10px;
                right: -1px;
                bottom: -4px;
            }
        }
        &_elem {
            display: flex;
            align-items: center;
            width: 200px;
            justify-content: center;
        }
    }
    &__main {
        padding: 0 15px;
        &_wrapper {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            height: 160px;
            align-items: center;
        }
        &_item {
            width: 165px;
            display: flex;
            justify-content: center;
            color: #2B1414;
            font-family: PTSans-Regular;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            height: 50px;
            align-items: center;
            &:hover {
                color: rgba(0,0,0, 0.6);
                scale: 1.01;
                transition: scale 0.35s;
                text-shadow: 2px 2px 3px rgba(255,255,255,0.1)
                
            }
        }
        &_logo {
            width: 145px;
            height: 135px;
            cursor: pointer;
            
        }
    }
}
.active {
    border-bottom: 2px solid #e2dbaf;
    color: #000;
    scale: 1.05;
    &:hover {
        scale: 1.05;
        color: #000;
    }
}
