@import '../../style/variables';

.header {
    &__divider{
        background: $color_header;
        padding: 12px 15px 15px 15px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_tag {
            color: rgba(0, 0, 0, 0.88);
            font-family: PTSans-Regular;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            cursor: pointer;

        }
        &_cityIcon{
            width: 22px;
            height: 22px;
        }
        &_phoneIcon{
            width: 23px;
            height: 23px;
        }
        &_basketIcon{
            width: 26px;
            height: 26px;
            margin-right: 5px;
            position: relative;
            cursor: pointer;
            &-counter {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                padding: 3px;
                background-color: black;
                color: #ffffff;
                position: absolute;
                z-index: 1;
                font-size: 10px;
                right: -1px;
                bottom: -4px;
            }
        }
        &_elem {
            display: flex;
            align-items: center;
            width: 200px;
            justify-content: center;
        }
    }

    &__main {
        // border-bottom: 1px solid black;
        &_wrapper {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            height: 160px;
            align-items: center;
        }
        &_item {
            width: 165px;
            display: flex;
            justify-content: center;
            a {
                color: #2B1414;
                font-family: PTSans-Regular;
                font-size: 17px;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        &_logo {
            width: 145px;
            height: 135px;
            cursor: pointer;
            
        }
    }
}