@import '../../style/variables.scss';

.footer {
    background-color: $color_footer;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    padding: 25px 0;
    &-wrapper {
        // margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-list {
        display: flex;
        flex-direction: column;
        &__heading {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        a {
            font-size: 14px;
            font-weight: 400;
            list-style-type: none;
            margin-bottom: 10px;
            text-decoration: none;
            color: black;
        }
        &-section {
            width: 33%;
            align-items: center;
            text-align: center;
        }
    }
    &-block {
        height: 100%;
        width: 33%;
        display: flex;
        justify-content: center;
        &:nth-child(1) {
            grid-area: a;
        }
        &:nth-child(3) {
            grid-area: c;
        }
        &:nth-child(2) {
            text-align: center;
            margin-left: 0;
            width: 420px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            grid-area: b;
        }
    }
}