@media (max-width: 768px) {
    .delivery {
        &-block {
            grid-template-columns: 1fr;
            grid-template-areas: 'a' 'b' 'c';
            padding: 30px 0 30px 0;
            &__title {
                text-align: center;
                font-size: 28px;
            }
            &_image {
                img {
                    max-width: 100%;
                }
            }
            &__info {
                text-align: center;
            }
            &__descr {
                grid-area: b;
            }
            &__image {
                grid-area: a;
                img {
                    max-width: 100%;
                }
            }
        }
        &__map{
           height: 300px;
        }
    }
}
@media (max-width: 768px){
    .delivery {
        &__map{
            height: 250px;
         }
    }
}