.contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'b a' 'b c';
    column-gap: 100px;
    padding: 60px 0;
    justify-content: center;
    &-logo {
        align-self: center;
        justify-self: center;
        grid-area: b;
        img {
            width: 100%;
        }
    }
    &-info {
        grid-area: c;
        &_working {
            display: flex;
            justify-content: space-between;
            width: 200px;
            &-days p, &-hours p{
                margin: 0;
                margin-bottom: 5px;
            }
        }
        &__descr {
            margin: 0;
            a {        
                color: black;
                text-decoration: none;
            }
        }
        &__subtitle {
            margin-bottom: 7px;
        }
        &__title {
            margin: 0;
            grid-area: a;
        }
    }
}
.contact {
    background-color: #F7F7F7;
}
