@media (max-width: 768px) {
    .contacts {
        display: grid;
        grid-template-columns: 270px 270px;
        grid-template-areas: 'x z';
        // grid-template-columns: 1fr;
        gap: 0;
        &-logo {
            width: 320px;
            grid-area: x;
        }
        &-info {
            // display: grid;
            // grid-template-areas: 'b c d';
            &-block {
                // &:nth-child(1) {
                //     grid-area: a;
                //     justify-content: center;
                // }
                &:nth-child(2) {
                    grid-area: c;
                }
                &:nth-child(3) {
                    grid-area: d;
                }
                &:nth-child(4) {
                    grid-area: b;
                }
            }
            &__title {
                text-align: center;
            }
        }
    }
}

@media (max-width: 568px) {
    .contacts {
        grid-template-columns: 1fr;
        grid-template-areas: 'z' 'x';
        &-info {
            justify-self: center;
        }
    }
}

@media (max-width: 320px) {
    .contacts {
        &-logo {
            width: 100%;
        }
    }
}