@media (max-width: 768px) {
    .contacts {
        gap: 0;
        &-logo {
            width: 320px;
            grid-area: b;
        }
    }
}

@media (max-width: 684px) {
    .contacts {
        padding-top: 0;
        display: grid;
        grid-template-areas: 'a a' 'b c';
        &-info {
            &__title {
                text-align: center;
            }
        }
    }
}

@media (max-width: 568px) {
    .contacts {
        grid-template-columns: 1fr;
        grid-template-areas: 'a' 'c' 'b';
        &-info {
            padding: 0 15px;
        }
    }
}

@media (max-width: 320px) {
    .contacts {
        &-logo {
            width: 100%;
        }
        &-info {
            &-block {
                &__title {
                    text-align: center;
                }
            }
        }
    }
}